@model TestingWebApp.Models.Organisation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Organisation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganisationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town.TownName)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Employees
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-light" asp-action="Index">Back to List</a>
</div>
